<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="tag-tablas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `tag-tablas`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class TagTablas extends Polymer.Element {
      static get is() { return 'tag-tablas'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'tag-tablas'
          }
        };
      }
    }

    window.customElements.define(TagTablas.is, TagTablas);
  </script>
</dom-module>
